:root{
     /* Cores */
    --cor-primaria:linear-gradient(to left, #FFA500, #FF7B02);
    --cor-secundaria:linear-gradient(to bottom, #5C28AB,#18092b);
    --cor-marca:#471D87;
    --cor-destaque:#FF7B02;
    --cor-button-contato:linear-gradient(to right,#009962,#00BF63,#00F47F);
    --cor-menu:#F3F3F3;
     /* Fontes */
    --font-principal:'Roboto',sans-serif;
    --fonte-secundaria:'Poppins',sans-serif;
}
/* Estilos globais */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilos gerais para dispositivos móveis (320px até 768px) */
@media (min-width: 320px) and (max-width: 768px) {
    header {
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

    .social-media-top {
        background-color: var(--cor-marca);
        padding: 15px;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #fff;
    }

    .social-media-top p {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    .social-media-top i {
        font-size: 27px;
        color: #fff;
    }

    /* Navbar */
    .navbar {
        height: 15vh;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        gap: 40px;
    }

    .logo {
        width: 180px;
    }

    /* Estilo do botão */
    #btn-menu {
        height: 40px;
        width: 50px;
        cursor: pointer;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .linha {
        width: 100%;
        height: 4px;
        background-color: #585858;
        border-radius: 2px;
        transition: all 0.3s ease;
        transform-origin: center;
    }

    #btn-menu.active .linha:nth-child(1) {
        transform: rotate(45deg) translate(12px, 12px);
    }

    #btn-menu.active .linha:nth-child(2) {
        opacity: 0;
    }

    #btn-menu.active .linha:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Menu */
    #menu {
        height: 0;
        width: 100%;
        position: fixed;
        top: 9rem;
        left: 0;
        overflow: hidden; /* Oculta o conteúdo fora da área visível */
        padding: 0 10px;
        background-color: var(--cor-menu);
        transition: height 0.3s ease; /* Transição suave para altura */
        z-index: 1000;
    }

    /* Quando o menu estiver ativo */
    #menu.active {
        height: 45vh; /* Define a altura ao abrir */
    }

    .menu-lista {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px; /* Espaçamento interno para o conteúdo */
    }

    .menu-link,
    .menu-item {
        font-size: 20px;
        color: #0B0414;
        font-weight: 600;
        font-family: var(--font-principal);
    }

    #btn-sub-menu {
        background: none;
        border: none;
        cursor: pointer;
    }

    #btn-sub-menu i {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    #btn-sub-menu.active i {
        transform: rotate(-90deg);
    }

    .sub-menu {
        justify-content: start;
        align-items: center;
        padding: 10px;
        background-color: #E5E5E5;
    }

    .lista-sub-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .lista-sub-menu a {
        font-size: 16px;
        color: #1e1e1e;
    }

    .btn-chamada {
        width: 100%;
        height: 40px;
        font-family: var(--font-principal);
        font-size: 16px;
        border: none;
        background: var(--cor-primaria);
        font-weight: 600;
        color: #471D87;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    /* Sessão home */
    #home {
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 30px 20px;
        background: var(--cor-secundaria);
    }

    .home-intro {
        position: relative;
        top: 6rem; /* Ajuste para garantir que o conteúdo não fique por baixo do header */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0 20px;
    }

    .home-intro h1 {
        font-family: var(--font-principal);
        color: #fff;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .home-intro p {
        color: #fff;
        font-size: 16px;
        width: 337px;
        font-weight: 600;
        font-family: var(--font-principal);
    }

    .home__banner img {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin-top: 40px; /* Ajuste para melhor alinhamento */
    }

    .button__home {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-home {
        height: 55px;
        width: 300px;
        padding: 10px;
        background: var(--cor-primaria);
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 15px;
        border: none;
        transition: all 0.3s ease-in-out;
    }

    .btn-home:hover{
        width: 350px;
        transform: scale(1.1);
        font-weight: 700;
    }
    /* Sessão serviços */
    #servicos{
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #servicos h2 {
        font-size: 32px;
        margin-left: 2rem;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        font-family: var(--font-principal);
        color: #5C28AB;
    }
    
    #servicos h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%; 
        height: 4px; 
        background-color: #FF7B02;
    }

    .carrossel {
        overflow: hidden;
        width: 100%;
        max-width: 100vw;
        position: relative;
    }

    .slide-carrossel {
        display: flex;
        gap: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .card {
        height: 249px;
        min-width: 254px;
        box-shadow: 1px 3px 15.8px rgba(0, 0, 0, 0.123);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 15px;
        background-color: #fff;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }

    .card:hover{ 
        background-color: #471D87;
    }

    .card:hover >h3{
        color: #fff;
        border-bottom: 4px solid #FF7B02;
    }

    .card:hover p{
        color: #F3F3F3;
    }

    .card h3{
        width: 133px;
        font-size: 24px;
        font-family: var(--font-principal);
        text-align: center;
        border-bottom: 4px solid #471D87;
    }

    .card p {
        text-align: center;
        font-size: 13px;
        font-family: var(--font-principal);
    }

    .button__servicos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__servicos button{
        height: 55px;
        width: 300px;
        padding: 10px;
        background: var(--cor-primaria);
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 15px;
        border: none;
        transition: all 0.2s ease-in-out;
    }

    .button__servicos button:hover{
        width: 320px;
        transform: scale(1.1);
        font-weight: 700;
    }
    /* Sessão de cases */
    #resultados{
        height: 105vh;
        width: 100%;
    }
    
    .top__cases{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .tittle-cases{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .tittle-cases h1{
        font-size: 32px;
        font-family: var(--font-principal);
    }

    .btn-seja-membro{
        height: 60px;
        width: 150px;
        font-size: 16px;
        border: none;
        color: #fff;
        background-color: #471D87;
        border-radius: 15px;
        font-family: var(--font-principal);
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .btn-seja-membro:hover{
        transform: scale(1.1);
        background-color: #471d87e7;
    }

    .parceiros{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .parceiros img{
        height: auto;
        width: 90px;
    }

    

    .container-cases{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .case{
        text-align: center;
        font-family: var(--font-principal);
        color: #471D87;
    }

    .case img{
        height: 200px;
        width: 300px;
    }

}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {

   header{
       height: auto;
       width: 100%;
   }

   .social-media-top{
        width: 100%;
        padding: 10px;
        background-color: var(--cor-marca);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
   }

   .social-media-top i{
        color: #fff;
        font-size: 24px;
   }

   .navbar{
        height:10vh ;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
   }

   .logo{
        height: auto;
        width: 208px;
   }

   /* Estilo do botão */
   #btn-menu {
    height: 40px;
    width: 50px;
    cursor: pointer;
    background: transparent; /* Fundo do botão transparente */
    border: none; /* Remove a borda padrão */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui as linhas uniformemente */
    align-items: center;
    padding: 5px;
}

/* Estilo das linhas */
.linha {
    width: 100%; /* Usa a largura total do botão */
    height: 4px; /* Altura das linhas */
    background-color: #585858; /* Cor das linhas */
    border-radius: 2px; /* Cantos arredondados */
    transition: all 0.3s ease; /* Animação suave */
    transform-origin: center; /* Origem da transformação no centro */
}

/* Efeito ao clicar no botão (quando o menu estiver ativo) */
#btn-menu.active .linha:nth-child(1) {
    transform: rotate(45deg) translate(12px, 12px);
    width: 100%; /* Garante que a linha de cima mantenha a largura */
}

#btn-menu.active .linha:nth-child(2) {
    opacity: 0; /* Esconde a linha do meio */
}

#btn-menu.active .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    width: 100%; /* Garante que a linha de baixo mantenha a largura */
}

/* Menu */
#menu {
    height: auto;
    width: 100%;
    position: fixed; /* Use fixed para garantir que o menu fique no topo da página */
    top: 140px;
    left: -100%; /* Inicialmente fora da tela */
    padding: 20px 10px;
    background-color: #fff;
    transition: transform 0.3s ease; /* Adiciona a transição suave */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

/* Quando o menu estiver ativo */
#menu.active {
    transform: translateX(100%); /* Move o menu para a posição visível */
}

.menu-lista{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-link{
    font-size: 20px;
    color: #0B0414;
    font-weight: 600;
    font-family: var(--font-principal);
}

.menu-item{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-principal);
}

#btn-sub-menu{
    background-color: transparent;
        border: none;
        height: 30px;
        width: 30px;
        color: #1e1e1e;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .sub-menu{
        height: 70px;
        justify-content: start;
        align-items: center;
        padding: 10px;
        background-color: #E5E5E5;
    }

    .lista-sub-menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .lista-sub-menu li >a{
        font-size: 16px;
        color: #1e1e1e;
    }

    .btn-chamada{
        width: 100%;
        height: 40px;
        font-family: var(--font-principal);
        font-size: 16px;
        border: none;
        background: var(--cor-primaria);
        font-weight: 600;
        color: #471D87;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    #home{
        height: 400px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        background:var(--cor-secundaria);
    }

    .home-intro{
        height: 185px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-intro h1{
        font-size: 32px;
        font-weight: 600;
        font-family: var(--font-principal);
        color: #fff;
    }

    .home-intro p{
        font-size: 20px;
        font-weight: 500;
        font-family: var(--font-principal);
        color: #fff;
    }

    .home__banner img{
        height: auto;
        width: 380px;
    }

    .button__home{
        position: absolute;
        top: 29rem;
        left: 2rem;
    }

    /* Botão da sessão home */
    .btn-home{
        height: 57px;
        width: 239px;
        padding: 10px;
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 10px;
        border: none;
        background: var(--cor-primaria);
        transition: all 0.3s ease-in-out;
    }
    /* Efeito de hover */
    .btn-home:hover{
        transform: scale(1.1);
        font-weight: 700;
        color: #754ab6;
    }
    /* Sessão serviços */
    #servicos{
        height: 105vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    #servicos h2 {
        font-size: 32px;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        text-align: left;
        padding-bottom: 5px;
        font-family: var(--font-principal);
        color: #5C28AB;
    }
    
    #servicos h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%; 
        height: 4px; 
        background-color: #FF7B02;
    }

    /* Carrossel */
    .carrossel{
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-carrossel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        width: 96%;
        transform: none; /* Remova qualquer transformação */
        transition: none; /* Remova qualquer transição */
    }

    .card{
        height: 249px;
        width: 250px;
        box-shadow: 1px 3px 15.8px rgba(0, 0, 0, 0.123);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 15px;
        background-color: #fff;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    .card:nth-child(7),.card:nth-child(8){
        height: 249px;
        max-width: 254px;
        text-align: center;
    }
    
    .card:nth-child(6) > h3{
        padding-bottom: 3px;
    }

    .card:hover{ 
        background-color: #471D87;
    }

    .card:hover >h3{
        color: #fff;
        border-bottom: 4px solid #FF7B02;
    }

    .card:hover p{
        color: #F3F3F3;
    }

    .card h3{
        width: 133px;
        font-size: 24px;
        font-family: var(--font-principal);
        text-align: center;
        border-bottom: 4px solid #471D87;
    }

    .card p {
        text-align: center;
        font-size: 13px;
        font-family: var(--font-principal);
    }

    .button__servicos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__servicos button{
        height: 55px;
        width: 300px;
        padding: 10px;
        background: var(--cor-primaria);
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 15px;
        border: none;
        transition: all 0.2s ease-in-out;
    }

    .button__servicos button:hover{
        width: 320px;
        transform: scale(1.1);
        font-weight: 700;
    }

    .slide-carrossel .card {
        flex: 1; /* Ajusta o tamanho das cartas para distribuir igualmente */
        min-width: calc(100% / 4); /* Mostra 4 cartas de uma vez (ajuste conforme necessário) */
    }
    /* Sessão de cases */
    #resultados{
        height: 180vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .top__cases{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .tittle-cases{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .tittle-cases h1{
        font-size: 34px;
        font-family: var(--font-principal);
    }

    .btn-seja-membro{
        height: 60px;
        width: 200px;
        font-size: 20px;
        border: none;
        color: #fff;
        background-color: #471D87;
        border-radius: 15px;
        font-family: var(--font-principal);
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .btn-seja-membro:hover{
        transform: scale(1.1);
        background-color: #471d87e7;
    }

    .parceiros{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .parceiros img{
        height: auto;
        width: 90px;
    }

    

    .container-cases{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        align-items: center;
    }

    .case{
        height: 300px;
        padding: 10px;
        text-align: center;
        font-family: var(--font-principal);
        color: #471D87;
    }

    .case img{
        height: auto;
        width: 700px;
    }

    .button__resultados{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;   
        position: relative;
        top: 0;
        left: 0; 
    }

    .btn-cases{
        padding: 5px;
        background: var(--cor-button-contato);
    }
}

/* Notebooks e laptops */
@media (min-width: 1024px) and (max-width: 1440px) {
    header{
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }
 
    .social-media-top{
         width: 100%;
         padding: 10px;
         background-color: var(--cor-marca);
         display: flex;
         justify-content: end;
         padding-right: 3rem;
         align-items: center;
         gap: 20px;
         color: #fff;
         font-family: 'Poppins', sans-serif;
         font-weight: 600;
    }
 
    .social-media-top i{
         color: #fff;
         font-size: 24px;
    }
 
    .logo{
        height: auto;
        width: 208px;
    }

    .navbar{
        height: 15vh;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #fff;
    }

    #btn-menu{
        display: none;
    }

    #menu{
        width: 800px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-lista{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-link {
        font-family: var(--font-principal);
        font-size: 20px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        padding-bottom: 5px; /* Ajuste conforme necessário */
        color: #471D87;
        text-decoration: none; /* Remover sublinhado padrão */
    }
    
    .menu-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px; /* Espessura da borda */
        width: 0;
        background-color: #FFA500; /* Cor da borda */
        transition: width 0.4s ease-in-out;
    }
    
    .menu-link:hover::after {
        width: 50%;
    }
    
    .btn-chamada{
        height: 45px;
        width: 200px;
        font-size: 18px;
        background: linear-gradient(to right, #FF7B02, #FFA500);
        border: none;
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .btn-chamada:hover{
        transform: scale(1.1);
        font-weight: 700;
        color: #fff;
    }

    .menu-item:nth-child(4){
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #471D87;
    }

    #btn-sub-menu{
        background-color: transparent;
        border: none;
        height: 30px;
        width: 30px;
        color: #1e1e1e;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
     
    .sub-menu{
        position: absolute;
        top: 95px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
    }

    .lista-sub-menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .lista-sub-menu li > a{
        color: #0B0414;
    }

    #btn-sub-menu {
        background: none;
        border: none;
        cursor: pointer;
      }
      
      #btn-sub-menu i {
        display: inline-block;
        transition: transform 0.3s ease;
      }
      
      #btn-sub-menu.active i {
        transform: rotate(-180deg);
      }
      /* Fim do Header */
      #home{
        height: 100vh;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        background:var(--cor-secundaria);
    }

    .home-intro{
        height: 185px;
        width: 540px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-intro h1{
        font-size: 48px;
        font-weight: 600;
        font-family: var(--font-principal);
        color: #fff;
    }

    .home-intro p{
        font-size: 20px;
        font-weight: 500;
        font-family: var(--font-principal);
        color: #fff;
    }

    .home__banner img{
        height: auto;
        width: 500px;
        margin-top: 5rem;
    }

    .button__home{
        position: absolute;
        top: 33rem;
        left: 5.25rem;
    }

    /* Botão da sessão home */
    .btn-home{
        height: 57px;
        width: 309px;
        padding: 10px;
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 10px;
        border: none;
        background: var(--cor-primaria);
        transition: all 0.3s ease-in-out;
    }
    /* Efeito de hover */
    .btn-home:hover{
        transform: scale(1.1);
        font-weight: 700;
        color: #fff;
        letter-spacing: 1px;
    }
     /* Sessão serviços */
     #servicos{
        height: 94vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #servicos h2 {
        font-size: 32px;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        text-align: left;
        padding-bottom: 5px;
        font-family: var(--font-principal);
        color: #5C28AB;
    }
    
    #servicos h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 14%; 
        height: 4px; 
        background-color: #FF7B02;
    }

    /* Carrossel */
    .carrossel{
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-carrossel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        width: 96%;
        transform: none; /* Remova qualquer transformação */
        transition: none; /* Remova qualquer transição */
    }

    .card{
        height: 249px;
        width: 250px;
        box-shadow: 1px 3px 15.8px rgba(0, 0, 0, 0.123);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 15px;
        background-color: #fff;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    .card:nth-child(7),.card:nth-child(8){
        height: 249px;
        max-width: 254px;
        text-align: center;
    }
    
    .card:nth-child(6) > h3{
        padding-bottom: 3px;
    }

    .card:hover{ 
        background-color: #471D87;
    }

    .card:hover >h3{
        color: #fff;
        border-bottom: 4px solid #FF7B02;
    }

    .card:hover p{
        color: #F3F3F3;
    }

    .card h3{
        width: 133px;
        font-size: 24px;
        font-family: var(--font-principal);
        text-align: center;
        border-bottom: 4px solid #471D87;
    }

    .card p {
        width: 212px;
        text-align: center;
        font-size: 15px;
        font-family: var(--font-principal);
    }

    .button__servicos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__servicos button{
        height: 55px;
        width: 300px;
        padding: 10px;
        background: var(--cor-primaria);
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 15px;
        border: none;
        transition: all 0.2s ease-in-out;
    }

    .button__servicos button:hover{
        width: 320px;
        transform: scale(1.1);
        font-weight: 700;
    }

    .slide-carrossel .card {
        flex: 1; /* Ajusta o tamanho das cartas para distribuir igualmente */
        min-width: calc(100% / 4); /* Mostra 4 cartas de uma vez (ajuste conforme necessário) */
    }
}

/* Desktops */
@media (min-width: 1441px) {
   

    header{
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }
 
    .social-media-top{
         width: 100%;
         padding: 10px;
         background-color: var(--cor-marca);
         display: flex;
         justify-content: end;
         align-items: center;
         padding-right: 5rem;
         gap: 20px;
         color: #fff;
         font-family: 'Poppins', sans-serif;
         font-weight: 600;
    }
 
    .social-media-top i{
         color: #fff;
         font-size: 24px;
    }
 
    .logo{
        height: auto;
        width: 208px;
        margin-left: 7rem;
    }

    .navbar{
        height: 14vh;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #fff;
    }

    #btn-menu{
        display: none;
    }

    #menu{
        width: 800px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-lista{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-link {
        font-family: var(--font-principal);
        font-size: 20px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        padding-bottom: 5px; /* Ajuste conforme necessário */
        color: #000;
        text-decoration: none; /* Remover sublinhado padrão */
    }
    
    .menu-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px; /* Espessura da borda */
        width: 0;
        background-color: #FFA500; /* Cor da borda */
        transition: width 0.4s ease-in-out;
    }
    
    .menu-link:hover{
        color: #471D87;
    }

    .menu-link:hover::after {
        width: 50%;
       
    }

    .btn-chamada{
        height: 45px;
        width: 200px;
        font-size: 18px;
        background: linear-gradient(to right, #FF7B02, #FFA500);
        border: none;
        border-radius: 10px;
        color: #471D87;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .menu-item:nth-child(4){
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #471D87;
    }

    #btn-sub-menu{
        background-color: transparent;
        border: none;
        height: 30px;
        width: 30px;
        color: #1e1e1e;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
     
    .sub-menu{
        position: absolute;
        top: 127px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
    }

    .lista-sub-menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #btn-sub-menu {
        background: none;
        border: none;
        cursor: pointer;
      }
      
      #btn-sub-menu i {
        display: inline-block;
        transition: transform 0.3s ease;
      }
      
      #btn-sub-menu.active i {
        transform: rotate(-180deg);
      }
        /* Fim do Header */
        #home{
            height: 100vh;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            background:var(--cor-secundaria);
        }
    
        .home-intro{
            height: 185px;
            width: 660px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    
        .home-intro h1{
            font-size: 60px;
            font-weight: 600;
            font-family: var(--font-principal);
            color: #fff;
        }
    
        .home-intro p{
            font-size: 24px;
            font-weight: 500;
            font-family: var(--font-principal);
            color: #fff;
        }
    
        .home__banner img{
            height: auto;
            width: 700px;
            margin-top: 5rem;
        }
    
        .button__home{
            position: absolute;
            top: 43rem;
            left: 9rem;
        }
    
        /* Botão da sessão home */
        .btn-home{
            height: 57px;
            width: 309px;
            padding: 10px;
            font-size: 20px;
            font-family: var(--font-principal);
            font-weight: 600;
            color: #fff;
            border-radius: 10px;
            border: none;
            background: var(--cor-primaria);
            transition: all 0.3s ease-in-out;
        }
        /* Efeito de hover */
        .btn-home:hover{
            transform: scale(1.1);
            font-weight: 700;
            color: #fff;
            letter-spacing: 1px;
        }
         /* Sessão serviços */
     #servicos{
        height: 94vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #servicos h2 {
        font-size: 32px;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        text-align: left;
        padding-bottom: 5px;
        font-family: var(--font-principal);
        color: #5C28AB;
    }
    
    #servicos h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 14%; 
        height: 4px; 
        background-color: #FF7B02;
    }

    /* Carrossel */
    .carrossel{
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-carrossel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        width: 70%;
        transform: none; /* Remova qualquer transformação */
        transition: none; /* Remova qualquer transição */
    }

    .card{
        height: 200px;
        width: 20px;
        box-shadow: 1px 3px 15.8px rgba(0, 0, 0, 0.123);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 15px;
        background-color: #fff;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    .card:nth-child(7),.card:nth-child(8){
        height: 249px;
        max-width: 254px;
        text-align: center;
    }
    
    .card:nth-child(6) > h3{
        padding-bottom: 3px;
    }

    .card:hover{ 
        background-color: #471D87;
    }

    .card:hover >h3{
        color: #fff;
        border-bottom: 4px solid #FF7B02;
    }

    .card:hover p{
        color: #F3F3F3;
    }

    .card h3{
        width: 133px;
        font-size: 24px;
        font-family: var(--font-principal);
        text-align: center;
        border-bottom: 4px solid #471D87;
    }

    .card p {
        width: 212px;
        text-align: center;
        font-size: 15px;
        font-family: var(--font-principal);
    }

    .button__servicos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__servicos button{
        height: 55px;
        width: 300px;
        padding: 10px;
        background: var(--cor-primaria);
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 600;
        color: #fff;
        border-radius: 15px;
        border: none;
        transition: all 0.2s ease-in-out;
    }

    .button__servicos button:hover{
        width: 320px;
        transform: scale(1.1);
        font-weight: 700;
    }

    .slide-carrossel .card {
        flex: 1; /* Ajusta o tamanho das cartas para distribuir igualmente */
        min-width: calc(100% / 4); /* Mostra 4 cartas de uma vez (ajuste conforme necessário) */
    }
}
  




/* Classes de interações */

.hidden{
    display: none;
}

.open{
    display: block;
}

.hidden {
    display: none;
}

.abrir-sub-menu {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

.texto-destacado{
    background-color: #FF7B02;
    padding: 3px;
    color: #fff;
}

@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
